@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
--v-navbarheight: 30px;
--v-tabbarheight: 25px;
}

/* remove forward and backward arrows */
#back-button, #forward-button {
    display: none !important;
}

/* borders */
:root {
    --tabs-border: transparent !important;
}

.tabbrowser-tab::after, .tabbrowser-tab::before {
    border-left: none !important;
}

#urlbar, .searchbar-textbox {
    border: none !important;
    box-shadow: none !important;
}

#navigator-toolbox::after {
    border-bottom: 0px !important;
}

#nav-bar {
    height: (--v-navbarheight) !important;
    background: #000 !important;
    margin-top: 0px !important;
    border-top: 0px !important;
    margin-bottom: 0px !important;
    border-bottom 0px !important;
    box-shadow: none !important;
}

#urlbar {
    background: #000 !important;
    opacity:1 !important;
}

#urlbar .urlbar-input-box {
    opacity: 1 !important;
}

#urlbar, .searchbar-textbox {
    border: 0px !important;
    height: 30px !important;
}

#urlbar {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.tab-background {
    border-top: none !important;
}

.tabs-newtab-button, #new-tab-button, #alltabs-button {
    display: none !important;
    border-top: 0px !important;
    margin-bottom: 0px !important;
}


window:not([chromehidden~="toolbar"]) #urlbar-container > .toolbarbutton-1:-moz-any([disabled], :not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon[class], #main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon[class] {
    box-shadow: none !important;
    border: 0px !important;
}

/* bookmarks toolbar edge style */
toolbarbutton.bookmark-item {
    border: 1px rgba(0, 0, 0, 0) solid !important;
}

toolbarbutton.bookmark-item:hover {
    background-color: rgba(75, 75, 75, 1);
    border: 1px rgba(75, 75, 75, 1) solid !important;
}


/* adjust spacing to the left and right of tabs in tabbar */
.titlebar-spacer[type="post-tabs"] {
    width: 0px !important;
}
.titlebar-spacer[type="pre-tabs"] {
    width: 12px !important;
}


#TabsToolbar {
    background: #000 !important;
    margin-bottom: 0px !important;
}
#navigator-toolbox::after {
    border-bottom: 0px !important;
}


#TabsToolbar .tab-background {
    border-right: 0px !important;
    border-left: 0px !important;
}
.scrollbutton-up, .scrollbutton-down {
    margin-bottom: 0px !important;
}
.scrollbutton-up:hover, .scrollbutton-down:hover {
    background: rgba(42, 42, 42, 1) ;
}
.scrollbutton-up:hover:active, .scrollbutton-down:hover:active {
    background: #444;
}
.tabs-newtab-button .toolbarbutton-icon {
    background: transparent ;
}
#urlbar, .searchbar-textbox {
    box-shadow: none !important;
}
.close-icon > .toolbarbutton-icon {
    border-radius: 0px !important;
}
#TabsToolbar[movingtab] {
    padding-bottom: 0px !important;
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

#new-tab-button > .toolbarbutton-icon, #alltabs-button > .toolbarbutton-icon {
    background-color: transparent;
}
:root {
    --toolbarbutton-border-radius: 0px !important;
}


#context-back > .menu-iconic-left, #context-forward > .menu-iconic-left, #context-reload > .menu-iconic-left, #context-stop > .menu-iconic-left, #context-bookmarkpage > .menu-iconic-left {
    padding: 0px !important;
}


.webextension-browser-action {
    filter: saturate(0%);
}


:root[lwtheme-image]:-moz-lwtheme-brighttext {
    text-shadow: none !important;
}


/* only show tab close buttons on hover */
.tabbrowser-tab:not(:hover) .tab-close-button {
    display:none;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display:block !important;
}


/* set max tab width */
.tabbrowser-tab[fadein]:not([pinned]) {
    max-width: 300px !important;
}


/* decrease height of tabs */
#tabbrowser-tabs {
    --tab-min-height: var(--v-tabbarheight) !important;
}


/* remove line on top of active tab */
#TabsToolbar .tabbrowser-tab[selected] .tab-line {
    display: none !important;
}


/* remove downwards facing arrow in url bar */
.urlbar-history-dropmarker {
    display: none !important;
}


/* hide url bar and show with ctrl or cmd L*/
:root:not([customizing]) #nav-bar
{
    overflow-y: hidden;
    max-height:0;
    min-height:0 !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
    opacity: 0;
}

:root:not([customizing]) > #nav-bar,
:root:not([customizing]) #nav-bar:focus-within {
    max-height: var(--v-navbarheight);
    opacity: 1;
}

:root:not([customizing]) #navigator-toolbox {
    max-height: var(--v-tabbarheight);
    min-height: var(--v-tabbarheight);
}

:root:not([customizing]) #navigator-toolbox:hover,
:root:not([customizing]) #navigator-toolbox:focus-within {
    max-height: var(--v-tabbarheight);
}

:root:not([customizing]) > #PersonalToolbar,
:root:not([customizing]) #navigator-toolbox:focus-within #PersonalToolbar {
    max-height: 4em !important;
    opacity: 1;
}

