alias chmod="chmod -v"
alias chown="chown -v"
alias cp="cp -iv"
alias egrep="egrep --color=auto"
alias grep="grep --color=auto"
alias ll="ls -alFh"
alias ls="ls -Gh"
alias mkdir="mkdir -pv"
alias v="vi"
alias vi="vim"
alias vim="nvim"
alias ccat="highlight --out-format=ansi"
alias spt="speedtest-cli | egrep --color=never \"Testing from|Hosted by|Download:|Upload:\""

