# top level editor config
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[docs/**.txt]
max_line_length = 79

[*.html]
indent_size = 2

[*.hs]
indent_size = 2

[*.json]
indent_size = 2
insert_final_newline = ignore

[Makefile]
indent_style = tab

[*.py]
max_line_length = 119

[*.yaml, *.yml]
indent_size = 2 
