# slightly lower priority since filetype specific snippets should take
# precedence over more general ones
priority -1

##########

snippet "date|today" "YYYY-MM-DD" rw
`!v strftime("%Y-%m-%d")`
endsnippet

##########

snippet "now|time" "hh:mm" rw
`!v strftime("%H:%M")`
endsnippet

##########

snippet datetime "YYYY-MM-DD hh:mm" w
`!v strftime ("%Y-%m-%d %H:%M")`
endsnippet

##########

snippet bang "posix shell shebang" b
#!/bin/sh

$0
endsnippet

##########

# vim: fdm=syntax fdl=0
