snippet bang "python shebang" b
#!/usr/bin/env python

$0
endsnippet

##########

snippet main "main" b
def main():
	$0

if __name__ == '__main__':
	main()
endsnippet

##########

# vim: fdm=syntax fdl=0
